:root {
  --dark-blue-title: #052051;
  --dark-blue-text: #356EA9;
  --text-error: #609ED4;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  background: #F4F6F6;
}
.logo {
  width: 100px;
  height: 55px;
}
.header-left,
.header-right {
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
.header-center h1{
  margin-bottom: 0%;
  color: var(--dark-blue-title);
}
.header-center p{
  text-align: center;
  margin-top: 0.2%;
  color: var(--dark-blue-text);
}

main {
  background-image: url(../assets/img/oracle_one.png);
  background-position: left;
  background-repeat: no-repeat;
  background-color: #2C5266;
  height: 520px;
  display: flex;
  justify-content:center;
  }

  .mensajes {
    text-align: center;
    color: var(--text-error);
  }

  .contenedor {
    display: flex;
    justify-content: space-between;
  }

  #text-encriptar {
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    height: 350px;
    width: 450px;
    resize: none;
    background: transparent;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin-right: 40px;
    margin-bottom: 0px;
  }

textarea::placeholder {
  font-size: 16px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  opacity: 0.5;
}

.text-informacion {
  margin-top: 1px;
  text-align: left;
  color: #F4F6F6;
  font-size: 15px;
}

.text-informacion p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.btn-encriptar {
  background: #0A3871;
  border: 2px solid #0A3871;
  color: #FFFFFF;
  width: 40%;
  border-radius: 20px;
  margin: 0px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 45%;
}

.btn-encriptar:hover {
  border: 2px solid #000000;
  box-shadow: inset 340px 0 0 0 #fb8500;
  transition: all ease 0.9s;
  color: #000000;
}


.btn-desencriptar {
  background: #D8DFE8;
  border: 2px solid #0A3871;
  color: #0A3871;
  width: 40%;
  border-radius: 20px;
  margin: 0px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 45%;
}

.btn-desencriptar:hover {
  border: 2px solid #000000;
  box-shadow: inset -340px 0 0 0 #fb8500;
  transition: all ease 0.9s;
  color: #000000;
}


.main-right {
  height: 435px;
  width: 280px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 2px solid #FFFFFF;
  text-align: center;
  align-items: center;
}

#monito {
  background-image: url(../assets/img/monito.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 10px;
  border: none;
  height: 300px;
  width: 260px;
  resize: none;
  margin: 0px;
}

.text-info-desencriptado {
  display: none;
  background-position: bottom;
  border-radius: 10px;
  border: none;
  height: 380px;
  width: 260px;
  resize: none;
  margin: 0px;
}

.text-info-desencriptar h1 {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color: #868E96;
  font-size: 20px;
}

.text-info-desencriptar p {
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  color: #495057;
  font-size: 12px;
}

.buttons-right {
  display: none;
}

.btn-copiar {
  background: #D8DFE8;
  border: 2px solid #0A3871;
  color: #0A3871;
  width: 40%;
  border-radius: 20px;
  margin: 0px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 45%;
}

.btn-copiar:hover {
  border: 2px solid #000000;
  box-shadow: inset -340px 0 0 0 #fb8500;
  transition: all ease 0.9s;
  color: #000000;
}

.activo {
  display: block;
}

.inactivo {
  display: none;
}

footer {
  display: flex;
  justify-content: space-between;
  background: #F4F6F6;
}
.footer-left {
  margin-left: 5%;
  margin-right: 10%;
}
.footer-right {
  display: flex;
  align-items: center;
  margin-right: 5%;
  border: 10%;
}
.footer-center p{
  align-items: center;
  margin-top: 10px;
  color: var(--dark-blue-title);
}
.icono {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

@media (max-width: 440px) {
  .header-center{
    display: none;
  }
  .main {
    height: 667px;
  }
  .contenedor {
    display: block;
  }
  #text-encriptar {
    width: 95%;
  }
  .btn-encriptar, .btn-desencriptar {
    display: block;
    width: 95%;
    margin-top: 2px;
  }
  #monito {
    display: none;
  }
  .main-right {
    height: 100px;
    width: 90%;
    background: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #495057;
    text-align: center;
    align-items: center;
    margin-top: 30px;
  }
  footer {
    margin-top: 150px;
    display: grid;
  }
  .footer-center, .footer-left, .footer-right {
    width: 100%;
    margin-left: 25%;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .main {
    height: 1024px;
  }
  .contenedor {
    display: block;
  }
 
  #monito {
    display: none;
  }
  .main-right {
    height: 60px;
    width: 90%;
    background: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #495057;
    text-align: center;
    align-items: center;
    margin-top: 40px;
  }
  footer {
    margin-top: 70px;
    display: grid;
  }
  .footer-center, .footer-left, .footer-right {
    width: 100%;
    margin-left: 100%;
    justify-content: space-between;
  }
}