:root {
  --dark-blue-title: #052051;
  --dark-blue-text: #356EA9;
  --text-error: #609ED4;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  background: #F4F6F6;
}
.logo {
  width: 100px;
  height: 55px;
}
.header-left,
.header-right {
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
.header-center h1{
  margin-bottom: 0%;
  color: var(--dark-blue-title);
}
.header-center p{
  text-align: center;
  margin-top: 0.2%;
  color: var(--dark-blue-text);
}

main {
  background-image: url(../assets/img/oracle_one.png);
  background-position: left;
  background-repeat: no-repeat;
  background-color: #2C5266;
  height: 520px;
  display: flex;
  justify-content:center;
  }

  .mensajes {
    text-align: center;
    color: var(--text-error);
  }
  .contenedor {
    display: flex;
  }

footer {
  display: flex;
  justify-content: space-between;
  background: #F4F6F6;
}
.footer-left {
  margin-left: 5%;
  margin-right: 10%;
}
.footer-right {
  display: flex;
  align-items: center;
  margin-right: 5%;
  border: 10%;
}
.footer-center p{
  align-items: center;
  margin-top: 10px;
  color: var(--dark-blue-title);
}
.icono {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}